@page "/customer"

<div style="padding: 20px;">
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Mã số</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Email</th>
      <th scope="col">Số điện thoại</th>
      @*<th scope="col">Hành động</th>*@
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nguyễn Văn A</td>
      <td>a@gmail.com</td>
      <td>0344594044</td>
      @*<td>
          <button class="btn btn-info text-white">
              <i class="bi bi-info-circle"></i>
          </button>

          <button class="btn btn-success">
              <i class="bi bi-pencil"></i>
          </button>

          <button class="btn btn-secondary">
              <i class="bi bi-x-lg"></i>
          </button>
      </td>*@
    </tr>
  </tbody>
</table>
</div>

@code {

}
