@page "/history"

<div class="history-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Mã đơn hàng</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Ngày thanh toán</th>
          <th scope="col">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>200.000 VND</td>
          <td>07/08/2022</td>
          <td>Đang giao</td>
        </tr>
      </tbody>
    </table>
</div>

@code {

}
